.delete-btn {
  padding-left: 30px;
  justify-content: right;
}

.sleepiness-text-col {
  width: 250px !important;
}

.sleepiness-row {
  display: flex;
}

.delete-btn-text {
  font-size: 1rem;
}

.dark {
  --ion-background-color: var(--ion-color-dark)
}
