<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="overnightsleep">
            <ion-icon name="moon"></ion-icon>
            <ion-label>Sleep</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="sleepiness">
            <ion-icon name="bed"></ion-icon>
            <ion-label>Sleepiness</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="viewlogs">
            <ion-icon name="stats"></ion-icon>
            <ion-label>Logs</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
