<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    <ion-title>overnightsleep</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
      <!-- <ion-button (click)="getCurrentTime()">I'm going to sleep.</ion-button>
      <ion-button (click)="getCurrentTime()">I woke up.</ion-button> -->
      <ion-label>Going to sleep at...</ion-label>
  </ion-item>
  <ion-item>
      <ion-datetime #startDayPicker displayFormat="MMMM DD, YYYY" placeholder="Select Day" (ionChange)="updateMyDate(startDayPicker.value)"></ion-datetime>
  </ion-item>
  <ion-item>
    <!-- <ion-datetime displayFormat="HH:mm:00" placeholder="Select Time"></ion-datetime> -->
    <ion-datetime #myPicker displayFormat='DD/MM/YYYY' (ionChange)="updateMyDate(myPicker.value)"></ion-datetime>
  </ion-item>
</ion-content>
